*.R linguist-language=R
*.Rmd linguist-language=R
*.html linguist-language=HTML
*.sql linguist-language=SQL
*.py linguist-language=Python
*.java linguist-language=Java
*.js linguist-language=JavaScript
*.css linguist-language=CSS
*.ts linguist-language=TypeScript
*.php linguist-language=PHP
*.yaml linguist-language=YAML
*.json linguist-language=JSON
*.md linguist-language=Markdown
*.tex linguist-language=TeX
*.cpp linguist-language=C++
*.c linguist-language=C
*.go linguist-language=Go
*.rb linguist-language=Ruby
*.sh linguist-language=Shell
*.Rdata linguist-language=R
*.csv linguist-language=CSV